<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" th:href="@{../styles/style.css}" href="../resources/static/styles/style.css">

</head>
<body>

<div th:replace="fragments/header"></div>

<h2>Update Pokémon :</h2>

    <div class="container">
        <form action="/update/" method="post">
            <ul class="flex-outer">

                <input type="hidden" name="id" th:value="${pokemon.id}">
                <li><label>Name:<input type="text" id="name" placeholder="Write name of pokemon" autofocus="autofocus"
                                       th:field="${pokemon.name}" required></label></li>
                <li><label>Speed: <input name="speed" th:value="${pokemon.speed}" required></label></li>
                <li><label>Special Defence: <input name="special-defence" th:value="${pokemon.specialDefence}" required></label></li>
                <li><label>Special Attack: <input name="special-attack" th:value="${pokemon.specialAttack}" required></label></li>
                <li><label>Defence: <input name="defence" th:value="${pokemon.defence}" required></label></li>
                <li><label>Attack: <input name="attack" th:value="${pokemon.attack}" required></label></li>
                <li><label>HP: <input name="hp" th:value="${pokemon.hp}" required></label></li>
                <li><label>Primary Type: <input name="primary-type" th:value="${pokemon.primType}" required></label></li>
                <li><label>Secondary Type: <input name="secondary-type" th:value="${pokemon.secType}"></label></li>
            </ul>

            <button class="create-submit-button" type="submit">Submit</button>

        </form>
</div>
</body>
</html>