/* Styling inspiration from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l
*/


@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

h2 {
    color: gray;
}
header {
    background: #313131;
    color: whitesmoke;
    border: none;
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

nav {
    margin:0;
    padding: 0;
}

ul.nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
}


ul.nav-links a {
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    color: whitesmoke;
    border: none;
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    width: 100%;
}

header, ul.nav-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul.nav-links li a.active-row {
    color: #4dad5b;
    border: none;
}

ul.nav-links li a:hover {
    text-decoration: none;
    color: #4dad5b;
    border: none;
    transform: scale(0.7);
    cursor: pointer;
    }


/* Styling table*/

.content-table {
   border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    /* For at få buede kanter*/
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);

}

.content-table thead tr {
    background-color: #4dad5b;
    border: none;
    color: black;
    text-align: left;
    font-weight: bold;
}


.content-table td {
    font-weight: normal;
}

.content-table th, .content-table td {
    padding: 12px 15px;
}


.content-table tbody tr{
    border-bottom: 1px solid lightgray;

}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:nth-last-of-type {
    border-bottom: 2px #4dad5b;
}



/* Styling to create page  */

.container * {
    box-sizing: border-box;
    align-content: flex-start;

}

.flex-outer {
    max-width: 300px;
    margin: 0;
    list-style-type: none;
    padding-bottom: 20px;
    background-color: #4dad5b;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    margin-left: 0px;
}


.flex-outer > li:not(:last-child) {
    margin-bottom: 10px;
}


.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + * {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}

.create-submit-button {
    margin-top: 20px;
}